[submodule "docs/cartesi-avail-tutorial"]
    path = docs/cartesi-avail-tutorial
    url = https://github.com/Mugen-Builders/cartesi-avail-tutorial.git
[submodule "docs/cartesi-espresso-tutorial"]
	path = docs/cartesi-espresso-tutorial
	url = https://github.com/Mugen-Builders/cartesi-espresso-tutorial.git
[submodule "docs/cartesi-co-processor-tutorial"]
	path = docs/cartesi-co-processor-tutorial
	url = https://github.com/Mugen-Builders/cartesi-co-processor-tutorial.git
[submodule "docs/cartesi-risczero-tutorial"]
	path = docs/cartesi-risczero-tutorial
	url = https://github.com/Mugen-Builders/cartesi-risczero-tutorial.git
